{% extends "base.html" %}

{% block title %}{{ e.entry_title|lower }}{% endblock %}


{% block head %}

    <meta property="og:title" content="I like tight pants and authors"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://i.liketightpants.net/and/{{ e.entry_slug }}"/>
    
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="I like tight pants and mathematics"/>
    <meta property="og:description"
          content="I like tight pants and mathematics sees Eric Schrijver editing a small group of writers, each with their own interest area:"/>
    <meta property="fb:admins" content="1488294875"/>
    <meta property="dc:created" content="2014-02_01T21:20:20+01:00" />
    <meta property="dc:modified" content="2014-02_01T21:20:20+01:00" />
{% endblock %}

{% block content %}

<div class="grid_1">
<p><a href="/" title="I like tight pants and mathematics">I like tight pants and mathematics</a> aims to motivate designers and artists to get more involved in the world of computer programmers.</p>
    
    <p>To this end, <a href="http://ericschrijver.nl/about" title="‘about’ @ ericschrijver.nl">Eric Schrijver</a> edits a small group of writers, each with their own interest area:</p>
    <ul>
      <li><em>baseline</em> (graphic design)</li>
      <li><em>jenseits</em> (religion)</li>
      <li><em>tellyou</em> (teaching)</li>
      <li><em>habitus</em> (critical theory)</li>
      <li><em>glit</em> (fashion)</li>
      <li><em>bnf</em> (computer programming).</li>
    </ul>
</div>
<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/glit.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  <p>glit likes tight pants, obviously, and macaronis.
  </p>
  <h4>Articles by glit</h4>
  <dl>
  {% for e in glit_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in glit_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>

<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/jenseits.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  
  <p>jenseits likes tight pants, for sure, and voitures.
  </p>
  <h4>Articles by jenseits</h4>
  <dl>
  {% for e in jenseits_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in jenseits_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>

<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/habitus.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  <p>habitus likes Bourdieu, Fouceault, Barthes and tight pants.
  </p>
  <h4>Articles by habitus</h4>
  <dl>
  {% for e in habitus_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in habitus_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>

<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/tellyou.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  <p>tellyou likes tight pants, I’m telling you.
  </p>
  <h4>Articles by tellyou</h4>
  <dl>
  {% for e in tellyou_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in tellyou_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>

<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/baseline.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  
  <p>baseline likes tight pants, and takes it very seriously.
  </p>
  <h4>Articles by baseline</h4>
  <dl>
  {% for e in baseline_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in baseline_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>

<div class="grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/bnf.png" style="width:100px;height:100px;" alt="" />
  
  <p>&nbsp;</p>
  
  <hr />
  
  <p>bnf likes tight pants, and mathematics.
  </p>
  <h4>Articles by bnf</h4>
  <dl>
  {% for e in bnf_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Recent comments</h4>
  <ul>
  {% for c in bnf_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.get_absolute_url }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
    
</div>



{% endblock %}

