{% extends "base.html" %}

{% block content %}
{% for e in entries %}
    <div class="grid_1">
          <a href="/and/{{ e.slug }}">
            <img src="/and/assets/as/screenshots/of/{{ e.slug }}.png" style="width:150px;height:110px;" alt="I like tight pants and {{ e.title|lower }}">
          </a>
          <p class="byline">{{ e.title }}</p>
    </div>
{% if forloop.counter|divisibleby:7 %}</div>
<div class="clear"></div>
<div class="content container_7">{% endif %}
{% endfor %}
{% endblock %}
