<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=510">
<link rel="stylesheet" href="/and/style/in/reset.css" type="text/css" />
<link rel="stylesheet" href="/and/style/in/grid.css" type="text/css" />
{% block main_style_sheet %}<link rel="stylesheet" type="text/css" href="/and/style/in/style.css" />{% endblock %}

<link rel="start" href="/and/" title="Home" />
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/and/feed/us/recent_entries.xml" />

<script type="text/javascript" src="/and/scripts/being/jquery-1.11.0.min.js"></script>
{% if EDITING %}<script type="text/javascript" src="/and/js/lib/jquery/jquery-ui-1.10.2.custom.min.js"></script> <!-- In app’s static folder -->{% endif %}

<script type="text/javascript" src="/and/scripts/being/scripts.js"></script>
<script type="text/javascript" src="/and/mt.js"></script>
    <title>I like tight pants and {% block title %}mathematics{% endblock %}</title>
{% block head %}
{% endblock %}
</head>
<body>

{% block header %}
<div id="header" class="container_7">
  <div class="grid_2">
  <h1><a href="{{ andor }}">i . like tight pants . net</a></h1>
  </div>
  <div class="grid_3">
  <ul>
    
    <li {% if e and e.entry_id == latest_entry.entry_id %}class="current">latest{% else %}><a href="{{ andor }}{{ latest_entry.entry_slug }}">latest</a>{% endif %}</li>
    <li><a href="/and/about">about</a></li>
    <li {% if request.path == "/is/archives"  %}class="current">index{% else %}><a href="/and/archives">index</a>{% endif %}</li>{% if EDITING %}
    <li><a href="{% url 'logout' %}">logout</a></li>{% endif %}
  </ul>
  </div>
  <div class="grid_2">
  <p class="byline">New entries published Monday and Thursday, 22:00 CET (<a href="/and/feed/us/recent_entries.xml">RSS</a>)</p>
  </div>
</div>
{% endblock %}

<div id="content" class="container_7">
{% block content %}
{% endblock %}
</div>
<div id="bar">&nbsp;</div>
{% block extrajs %}
{% endblock %}
</body>
</html>

