{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/and/js/lib/fullcalendar/fullcalendar.css" />
<script type="text/javascript" src="/and/js/lib/fullcalendar/fullcalendar.js"></script>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
//<![CDATA[
    var events = {{ entries_json|safe }};
//]]>
</script>
<script type="text/javascript" src="/and/js/calendar-view.js"></script>
{% endblock %}

{% block content %}
<div id="time">
    
</div>
{% endblock %}
