{% extends "themes/roxanne/base.html" %}
{% block title %}reading ‘about’ pages{% endblock %}

{% block heading %}About{% endblock %}

{% block content %}
    <h2>About</h2>
    <section class="entry">
        <p>In the early 2010’s, author, artist and designer Eric Schrijver launched the weblog I like tight pants and mathematics. It probed the cultural clashes between the subcultures of software development and those of art and design. The title is a juxtaposition: there is no inherent opposition between tight pants and mathematics. The opposition is evoked through being part of two semantic fields, one of which, mathematics, being linked to the cultural figure of the nerd that continues to shape thinking around technological competency.</p>

        <p>The July 2011 design of the blog is by <a href="http://www.mccuskey.nl/" title="YOU + McCUSKEY = BRAND DIRECTION AND DESIGN">You &amp; McCuskey</a>, made possible through a grant by <a href="http://www.stroom.nl/" title="Stroom Den Haag">Stroom Den Haag</a>.</p>

        <p>In March 2026, we relaunched the blog at <a href="https://www.instagram.com/le29.paris/" title="29 (@le29.paris) • Instagram photos and videos" target="_blank">le29</a>, with a focus on a new experiment that asks: is an alternative aesthetic for consumer electronics feasible? Could we conceive of technological objects that aren’t afraid to take up space, to wear colour, to be hacked — that are not smooth, clean, and straight? And could such an aesthetic help accept the more bulky, modular, wired objects that would tax our environment less?</p>

        <p>The design of everyday electronics is never neutral. Devices such as smartphones, laptops, and headphones are deliberately shaped around minimalist aesthetics that hide vast infrastructures of extraction and exploitation. The cultural codes of technology also reinforce social hierarchies with regressive design. The nerd, who is linked to masculinity and whiteness, functions not as an underdog, but rather as complicit in hegemonic (straight) masculinity. The cultural figure acts as a gatekeeper around technology, convincing the larger public they are not apt to repair or manipulate their devices themselves, and letting the industry get away with producing irreparable locked down devices.</p>

        <p>The blog is structured around six authors: glit the glamorous, bnf the technical, habitus the critical, tellyou the didactical, baseline the graphical, jenseits the mystical. They write the articles and respond to each other in the comment sections. This form allows for multi-voiced narration faithful to the medium of the web. The comments are open to the public, who regularly slip into the conversations between characters — and vice versa.</p>

        <p>The design is by <a href="https://www.instagram.com/roxannemaillet/" title="Roxanne Maillet (@roxannemaillet) • Instagram photos and videos" target="_blank">Roxanne Maillet</a>. Interested in lesbian semiotics and language strategies of resistance developed from the margins, her work takes the form of collective readings, publications, and typographic experiments across multiple media. Her style is particularly bold and colourful and resists existing notions of good taste.</p>

        <p>I like tight Pants and Mathematics was redeveloped as part of an artistic research project with support of <a href="https://www.frs-fnrs.be/fr/financements/credits-et-projets/frart" title="FRART" target="_blank">the FNRS/FRArt</a>, accompagnied by <a href="https://art-recherche.be/en/about/" title="a/r" target="_blank">art/recherche</a>, in collaboration with art school <a href="https://www.leseptantecinq.be/" title="Le Septantecinq → Accueil" target="_blank">ESA le75</a>.</p>
    </section>
{% endblock %}
