<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=510">
        {% block main_style_sheet %}<link rel="stylesheet" type="text/css" href="/and/the/style/in/style.css"/>{% endblock %}

        <link rel="start" href="/and/" title="Home"/>
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/and/feed/us/recent_entries.xml"/>

        <!-- <script type="text/javascript" src="/and/scripts/being/scripts.js"></script> -->
        <title>I like tight pants and {% block title %}mathematics{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header id="site">
            <div>i . like tight pants . net</div>
            <img src="/and/the/style/in/etoile.svg"/>
            <div class="second-tightpants">i . like tight pants . net</div>
            <img class="third-tightpants" src="/and/the/style/in/etoile.svg"/>
            <div class="third-tightpants">i . like tight pants . net</div>
            <img class="fourth-tightpants" src="/and/the/style/in/etoile.svg"/>
            <div class="fourth-tightpants">i . like tight pants . net</div>
        </header>
        <main class="{% block mainclasses %}glit{% endblock %} article">
            {% block header %}{% endblock %}
            <article {% if e and e.pk %} property="mt:entry_id" content="{{ e.pk }}"{% endif %} data-published="{% if e and e.published %}true{% else %}false{% endif %}">
                {% block content  %}{% endblock %}
            </article>
            <nav id="authors">
                <ul class="colourful-authors">
            {% for a in main_authors_excluding_current_author %}
                <li class="{{ a }}"><a href="/and/stories/by/{{ a }}">{%  if a.username == 'bnf' %}bnf<span>bnf</span>{% elif a.username == 'glit' %}glit<span>glit</span>{% elif a.username == 'tellyou' %}tell  you{% else %}{{ a }}{% endif %}</a></li>
            {% endfor %}
                </ul>
            {% block postnav %}{% endblock %}
            </nav>
        </main>
        <div class="bottom-gap" style="height: 22px;"></div>
        <footer>
            <ul>
                <li>and {{ title | lower }}</li>
                {% if EDITING %}<li><a href="/admin/">admin</a></li>{% endif %}
                <li {% if e and e.pk == latest_entry.pk %}class="current">latest{% else %}><a href="{{ andor }}{{ latest_entry.slug }}">latest</a>{% endif %}</li>
                {% if e.previous %}<li><a href="{{ andor }}{{ e.previous.slug }}">previous</a></li>{% endif %}
                {% if e.next %}<li><a href="{{ andor }}{{ e.next.slug }}">next</a></li>{% endif %}
                <li><a href="/and/about">about</a></li>
                <li {% if request.path == "/is/archives" %}class="current">index{% else %}>
                        <a href="{{ andor }}archives">index</a>{% endif %}</li>{% if EDITING %}
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button id="logout" type="submit">logout</button>
                    </form>
                </li>{% endif %}
            </ul>
        </footer>
        <div class="background-canvas {% block bodyclasses %}glit{% endblock %}"></div>
        {% block extrajs %}
        {% endblock %}
        {% include "_analytics_.html" %}
    </body>
</html>
