<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=510">
        {% block main_style_sheet %}
            <link rel="stylesheet" type="text/css" href="/and/the/style/in/style.css"/>{% endblock %}

        <link rel="start" href="/and/" title="Home"/>
        <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/and/feed/us/recent_entries.xml"/>


        <!-- <script type="text/javascript" src="/and/scripts/being/scripts.js"></script> -->
        <title>I like tight pants and {% block title %}mathematics{% endblock %}</title>
        <script type="text/javascript" src="/and/scripts/being/jquery-3.7.1.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header id="site">
            <div>i . like tight pants . net</div>
            <img src="/and/the/style/in/etoile.svg"/>
            <div class="second-tightpants">i . like tight pants . net</div>
            <img class="third-tightpants" src="/and/the/style/in/etoile.svg"/>
            <div class="third-tightpants">i . like tight pants . net</div>
            <img class="fourth-tightpants" src="/and/the/style/in/etoile.svg"/>
            <div class="fourth-tightpants">i . like tight pants . net</div>
        </header>
        <header id="author"><img alt="{{ a }}" src="/and/assets/that/are/logotypes/of/author/{{ a }}.svg"/></header>
            {% block content %}
            <main></main>
            {% endblock %}
        <footer>{{ e.title | lower }}</footer>
        {% block extrajs %}
        {% endblock %}
        {% include "_analytics_.html" %}
    </body>
</html>
