{# recursive template! http://blog.elsdoerfer.name/2008/01/22/recursion-in-django-templates/ #}

{% for c in e_comments %}
{% if c.parent.pk == parent_id %}{# This will also be True for top level compnents, as it will compare None == None #}
<div property="mt:comment_id" content="{{ c.pk }}" id="comment-{{ c.pk }}" resource="/and/{{ e.slug }}#comment-{{ c.pk }}" class="comment{% if c.parent %} comment-reply{% endif %}{% if c.mt_author and c.mt_author.pk in author_ids %} {{ c.mt_author }}{% endif %}">
<div class="comment-editor" property="mt:comment_text">
{{ c.text|safe }}
</div>
<p class="byline" {% if EDITING %}property="mt:comment_email" content="{{ c.email }}"{% endif %}>
  by {% if c.mt_author and c.mt_author.pk in author_ids and EDITING %}<select>{% for author in authors %}<option value="{{ author.pk }}" {% if author.pk == c.mt_author.pk %} selected="true"{% endif %}>{{ author }}</option>{% endfor %}</select>
     {% else %}<a property="dc:creator" href="{{ c.get_commenter_url }}">{{ c.author }}</a>{% endif %} - <a href="{{ andor }}{{ e.slug }}#comment-{{ c.pk }}"><span property="dc:created" content="{{ c.created_on|date:"c" }}">{{ c.created_on|date:"F j, Y f A" }}</span></a><br />
  <button type="button" title="Reply" href="{% if EDITING %}#reply{% else %}javascript:void(0);{% endif %}" {% if not EDITING %}onclick="mtReplyCommentOnClick({{ c.pk }}, '{{ c.author }}')"{% endif %}>Reply</button>{% if EDITING %} <button type="button" href="#delete"><b>×</b></button>{% endif%}
</p>
</div>
  <div class="comments-parent-container{% if c.mt_author and c.mt_author.pk in author_ids %} {{ c.mt_author }}{% endif %}">
  {% with c.pk as parent_id %}
    {% include "themes/roxanne/comment.html" %}
  {% endwith %}
  </div>
{% endif %}
{% endfor %}
