        <div class="comments-open" id="comments-open">
            <div class="comments-open-content">
                <div id="comment-greeting"></div>
                <form method="post" action="{%  url 'comments' %}">
                  {% csrf_token %}

                    {{ form.non_field_errors }}
                    {{ form.parent }}
                    {{ form.entry }}
                        <div id="comments-open-text">
                            {{ form.text.errors }}{{ form.text }}
                            <p class="byline">You can use html tags to format your post: &lt;a&gt;, &lt;em&gt;, &lt;strong&gt;, &lt;b&gt;, &lt;i&gt;, &lt;br&gt;, &lt;p&gt;, &lt;ul&gt;, &lt;ol&gt;, &lt;li&gt;, &lt;blockquote&gt;</p>
                        </div>
                        <!--<div id="comment-form-reply">
                            <input type="checkbox" id="comment-reply" name="comment_reply" value="" onclick="mtSetCommentParentID()" />
                            <label for="comment-reply" id="comment-reply-label"></label>
                        </div>-->
                        <div id="comments-open-data">
                            <div id="comment-form-name">
                                {{ form.author.errors }}{{ form.author }}
                            </div>
                            <div id="comment-form-email">
                                {{ form.email.errors }}{{ form.email }}
                            </div>
                            <div id="comment-form-url">
                                {{ form.url.errors }}{{ form.url }}
                            </div>
                        </div>
                        <div id="comments-open-captcha">
                            <p>{{ form.captcha_code.label_tag }}</p>
                            {{ form.captcha_code.errors }}{{ form.captcha_code }}
                        </div>
                        <div id="comments-open-footer">
                        <p class="byline" id="comments-open-license">By submitting your comment, you agree to license it under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike license</a>, the same license used for the text of the blog.</p>
                            <input type="submit" accesskey="s" name="post" id="comment-submit" value="Submit" />
                        </div>
                    </form>
                </form>
            </div>
        </div>
