{% extends "themes/roxanne/base.html" %}
{% block title %}{{ e.title|lower }}{% endblock %}

{% block head %}
    <meta property="og:title dc:title" content="I like tight pants and {{ e.title|lower }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://i.liketightpants.net/and/{{ e.slug }}"/>

    <meta property="og:image" content="{{ e.preview_image }}"/>
    <meta property="og:site_name" content="I like tight pants and mathematics"/>
    <meta property="og:description dc:description"
          content="{{ e.excerpt }}"/>
    <meta name="description"
          content="{{ e.excerpt }}"/>
    <meta property="fb:admins" content="1488294875"/>

    <meta property="mt:entry_basename" content="{{ e.slug }}" />
    <meta property="dc:modified" content="{{ e.modified_on|date:"c" }}" />
{% endblock %}

{% block content %}
    <main class="{{ e.author }}">
    <article>
        <h2 property="mt:entry_title">{{ e.title }}</h2>
        {{ e.body|safe }}
        <h3 class="comments-header">{% if e_comments %}{{ e_comments.count }} Comments{% else %}No Comments{% endif %}</h3>
        <div id="comments" class="comments">
            <div class="comments-content">
              {% if e_comments %}
                {% include "themes/roxanne/comment.html" %}
              {% endif %}
                <a title="Reply" href="#reply">Reply</a>
            </div>
        </div><!-- / comments -->
    </article>
    <nav id="authors">
    {% for a in main_authors %}
      <a href="/is/stories/by/{{ a }}" {% if a.pk == e.author.pk %} class="selected-author"{% endif %}>
        <img alt="{{ a }}" src="/and/assets/that/are/logotypes/of/author/{{ a }}.svg"{% if a.pk != e.author.pk %} style="width: 386px; height: 57px"{% endif %}/>
      </a>
    {% endfor %}
    {% if not not EDITING %}
        {% include "themes/2011/comment_form.html" %}
    {% endif %}
    </nav>
    </main>
{% endblock %}

{% block extrajs %}
  <script>
    const paragraphs = document.querySelectorAll("article p");

    paragraphs.forEach(p => {
      if (
        p.childNodes.length === 1 &&
        p.firstChild.nodeType === Node.ELEMENT_NODE &&
        p.firstChild.tagName === "SPAN"
      ) {
        return;
      }

      const span = document.createElement("span");

      while (p.firstChild) {
        span.appendChild(p.firstChild);
      }

      p.appendChild(span);
    });
  </script>
{% endblock %}
