{% extends "themes/roxanne/base.html" %}
{% block title %}{{ e.title|lower }}{% endblock %}

{% block head %}
    <meta property="og:title dc:title" content="I like tight pants and {{ e.title|lower }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://i.liketightpants.net/and/{{ e.slug }}"/>

    <meta property="og:image" content="{{ e.preview_image }}"/>
    <meta property="og:site_name" content="I like tight pants and mathematics"/>
    <meta property="og:description dc:description"
          content="{{ e.excerpt }}"/>
    <meta name="description"
          content="{{ e.excerpt }}"/>
    <meta property="fb:admins" content="1488294875"/>

    <meta property="mt:entry_basename" content="{{ e.slug }}" />
    <meta property="dc:modified" content="{{ e.modified_on|date:"c" }}" />
{% endblock %}

{% block header %}<header id="author" class="selected-author"><img alt="{{ a }}" src="/and/assets/that/are/logotypes/of/author/{{ a }}-cropped.svg"/></header>{% endblock %}

{% block bodyclasses %}{{ e.author }}{% endblock %}
{% block mainclasses %}{{ e.author }}{% endblock %}

{% block content %}
    <h2>
        <span property="dc:created" content="{{ e.created_on|date:"c" }}">{{ e.created_on|date:"F j, Y" }}</span>
        <span property="mt:entry_title"{% if EDITING %} contenteditable="true" {% endif %}>{{ e.title }}</span>
    </h2>
    <section class="entry">{{ e.body|safe }}</section>
    <h3 class="comments-header">{% if e_comments %}{{ e_comments.count }} Comments{% else %}No Comments{% endif %}</h3>
    <div id="comments" class="comments">
        <div class="comments-content">
          {% if e_comments %}
            {% include "themes/roxanne/comment.html" %}
          {% endif %}
            <a title="Reply" href="#reply">Reply</a>
        </div>
    </div><!-- / comments -->
{% endblock %}

{% block postnav %}
    {% include "themes/roxanne/comment_form.html" %}
    {% if EDITING %}<select property="mt:entry_author_id">
    {% for author in authors %}
    <option value="{{ author.pk }}"{% if author.pk == e.author.pk %} selected="true"{% endif %}>{{ author }}</option>
    {% endfor %}</select>
    <h4 class="author">published: <input property="mt:entry_status" type="checkbox" name="vehicle" value="Bike" {% if e.published %}checked="yes"{% endif%}/></h4>
    <h4>Excerpt</h4>
    <p><a href="#" id="set-excerpt">Set excerpt</a></p>
    <h4>Thumbnail uri</h4>
    <p><a href="#" id="set-thumbnail-uri">Set thumbnail uri</a></p>
    {% endif %}

{% endblock %}


{% block extrajs %}

    {% if EDITING %}
    <!-- make all elements <article> editable with Squire Editor -->
    <script type="text/javascript" src="{{ STATIC_URL }}squire/squire-raw.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry-roxanne.js"> </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry-ui-roxanne.js"> </script>
    {% endif %}

{% endblock %}
