{% extends "base.html" %}

{% block title %}{{ e.entry_title|lower }}{% endblock %}

{% block main_style_sheet %}<link rel="stylesheet" type="text/css" href="/and/style/in/{{ a.author_name}}.css" />{% endblock %}

{% block head %}
{% if EDITING %}<script>
    var Aloha = window.Aloha || ( window.Aloha = {} );
    Aloha.settings = {
        plugins: {
            format: {
                // configure buttons available in the toolbar
                // this example enables all buttons available
                config : [ 'strong', 'em', 'b', 'i', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code', 'pre', 'removeFormat'],
                // specific configuration for each editable identified by css selectors
                editables : {
                    // the editable with id "teaser" won't offer any formatting options
                    '#teaser'   : [  ]
                },
                // those are the tags that will be cleaned when clicking "remove formatting"
                // this example resembles the default configuration
                removeFormats : [ 'strong', 'em', 'b', 'i', 's', 'cite', 'q', 'code', 'abbr', 'del', 'sub', 'sup']
            }
        }
    };
</script>
<!-- load the jQuery and require.js libraries -->
<script type="text/javascript" src="{{ STATIC_URL }}aloha/lib/require.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}aloha/lib/vendor/jquery-1.7.2.js"></script>

<!-- load the Aloha Editor core and some plugins -->
<script src="{{ STATIC_URL }}aloha/lib/aloha.js"
                   data-aloha-plugins="common/ui,
                                        common/format,
                                        common/list,
                                        common/link,
                                    common/image,
                                    extra/cite">
</script>

<!-- load the Aloha Editor CSS styles -->
<link href="{{ STATIC_URL }}aloha/css/aloha.css" rel="stylesheet" type="text/css" />
 

<script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/preflight.js"></script>

<!-- make all elements <article> editable with Aloha Editor -->
<script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry-ui.js"></script>
{% endif %}
    <meta property="og:title" content="I like tight pants and {{ e.entry_title|lower }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://i.liketightpants.net/and/{{ e.entry_slug }}"/>
    
    <meta property="og:image" content="{{ e.entry_keywords }}"/>
    <meta property="og:site_name" content="I like tight pants and mathematics"/>
    <meta property="og:description"
          content="{{ e.entry_excerpt }}"/>
    <meta property="fb:admins" content="1488294875"/>

<meta property="entry_basename" content="{{ e.entry_basename }}" />
<meta property="entry_created_on" content="{{ e.entry_created_on|date:"Y-m-d\TH:i:s" }}" />
<meta property="entry_keywords" content="{{ e.entry_keywords }}" />

<meta property="entry_modified_by" content="1" />
<meta property="entry_modified_on" content="{{ e.entry_modified_on|date:"Y-m-d\TH:i:s" }}" />

{% endblock %}

{% block content %}
<div class="sidebar grid_1">
  
  <img src="{{ a_thumbnail_url }}" style="width:100px;height:100px;" alt="" />
  
  {% if EDITING %}<select property="entry_author_id">
  {% for author in authors %}
    <option value="{{ author.author_id }}"{% if author.author_id == e.entry_author_id %} selected="true"{% endif %}>{{ author.author_nickname }}</option>
  {% endfor %}{% else %}<h4 class="author">{{ author.author_nickname }}</h4>{% endif %}
  </select>
  <h4 class="author" property="entry_authored_on" content="{{ e.entry_authored_on|date:"Y-m-d\TH:i:s" }}">{{ e.entry_authored_on|date:"F j, Y f A" }}</h4>{% if EDITING %}
  <form action="" id="entry-authored-input"><input type="date" value="{{ e.entry_authored_on|date:"o-m-d" }}" /><input type="time" value="{{ e.entry_authored_on|date:"H:i" }}" /><a href="">OK</a></form>
  <h4 class="author">published: <input property="entry_status" type="checkbox" name="vehicle" value="Bike" {% if e.entry_status == 2 %}checked="yes"{% endif%}/></h4>{% endif %}
  <p>&nbsp;</p>
  
  <hr />
  
  <h4>Articles</h4>
  <dl>
  {% for e in a_entries %}
  <dt><a href="/or/{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Comments</h4>
  <dl>
  {% for c in a_comments %}
    <dt>{{ c.comment_author }} on <a href ="/or/">Title of entry</a></dt>
    <dd>{{ c.comment_created_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>
  <hr />
  
  <h4>Other writers</h4>
  <ul>
  {% for a in authors %}
    <li>{{ a.author_nickname }}</li>
  {% endfor %}
  </ul>
    
</div>
<div class="post grid_5">
  <p class="byline">
  {% if e.previous %}<a href="/or/{{ e.previous.entry_slug }}">Previous</a>{% endif %}
  {% if e.next %}  / <a href="/or/{{ e.next.entry_slug }}">Next</a>{% endif %}
  </p>
  <div>
    <div class="article grid_3 alpha omega suffix_2">
    <h4 property="entry_title" contenteditable="true">{{ e.entry_title }}</h4>
    <article{% if e.entry_id %} property="entry_id" content="{{ e.entry_id }}"{% endif %} class="entry" id="entry-{{ e.entry_id }}">
    {{ e.entry_text|safe }}
    </article>
    <h4 class="comments-header">{% if e_comments %}{{ e_comments.count }} Comments{% else %}No Comments{% endif %}</h4>

    <div class="comments-content">
      {% if e_comments %}
        {% include "comment.html" %}
      {% endif %}
        <a title="Reply" href="#reply">Reply</a>

    </div>


    </div>
  </div>
  <hr />

</div>

<div class="sidebar grid_1">
  <h4>Latest articles</h4>
  <dl>
  {% for e in recent_entries %}
  <dt><a href="/or/{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>


  <h4>Latest Comments</h4>
  <ul>
  {% for c in recent_comments %}
    <li><strong>{{ c.comment_author }}:</strong> {{ c.comment_text|striptags|truncatewords:10 }} <a href="/or/" title="full comment on: Title of entry">read more</a></li>
  {% endfor %}
  </ul>

</div>
{% endblock %}

