{% extends "base.html" %}

{% block title %}{{ e.entry_title|lower }}{% endblock %}

{% block main_style_sheet %}<link rel="stylesheet" type="text/css" href="/and/style/in/{{ a.author_name}}.css" />{% endblock %}

{% block head %}
{% if EDITING %}<script>
    var Aloha = window.Aloha || ( window.Aloha = {} );
    Aloha.settings = {
        plugins: {
            format: {
                // configure buttons available in the toolbar
                // this example enables all buttons available
                config : [ 'strong', 'em', 'b', 'i', 'del', 'sub', 'sup', 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code', 'pre', 'removeFormat'],
                // specific configuration for each editable identified by css selectors
                editables : {
                    // the editable with id "teaser" won't offer any formatting options
                    '#teaser'   : [  ]
                },
                // those are the tags that will be cleaned when clicking "remove formatting"
                // this example resembles the default configuration
                removeFormats : [ 'strong', 'em', 'b', 'i', 's', 'cite', 'q', 'code', 'abbr', 'del', 'sub', 'sup']
            }
        }
    };
</script>
<!-- load the jQuery and require.js libraries -->
<script type="text/javascript" src="{{ STATIC_URL }}aloha/lib/require.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}aloha/lib/vendor/jquery-1.7.2.js"></script>

<!-- load the Aloha Editor core and some plugins -->
<script src="{{ STATIC_URL }}aloha/lib/aloha.js"
                   data-aloha-plugins="common/ui,
                                        common/format,
                                        common/list,
                                        common/link,
                                    common/image,
                                    extra/cite">
</script>

<!-- load the Aloha Editor CSS styles -->
<link href="{{ STATIC_URL }}aloha/css/aloha.css" rel="stylesheet" type="text/css" />
 

<script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/preflight.js"></script>

<!-- make all elements <article> editable with Aloha Editor -->
<script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/edit-entry-ui.js"></script>
{% endif %}
    <meta property="og:title dc:title" content="I like tight pants and {{ e.entry_title|lower }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://i.liketightpants.net/and/{{ e.entry_slug }}"/>
    
    <meta property="og:image" content="{{ e.entry_keywords }}"/>
    <meta property="og:site_name" content="I like tight pants and mathematics"/>
    <meta property="og:description dc:description"
          content="{{ e.entry_excerpt }}"/>
    <meta property="fb:admins" content="1488294875"/>

    <meta property="mt:entry_basename" content="{{ e.entry_basename }}" />
    <meta property="dc:modified" content="{{ e.entry_modified_on }}" />

{% endblock %}

{% block content %}
<div class="sidebar grid_1">
  
  <img src="/and/assets/that/are/pictures/of/author/{{ a.author_nickname }}.png" style="width:100px;height:100px;" alt="" />
  
  {% if EDITING %}<select property="mt:entry_author_id">
  {% for author in authors %}
    <option value="{{ author.author_id }}"{% if author.author_id == e.entry_author_id %} selected="true"{% endif %}>{{ author.author_nickname }}</option>
  {% endfor %}</select>{% else %}<h4 class="author"><a href="/and/authors#{{ a.author_nickname }}" property="dc:creator">{{ a.author_nickname }}</a></h4>
  {% endif %}
  <h4 class="author" property="dc:created" content="{{ e.entry_authored_on|date:"Y-m-d\TH:i:s+01:00" }}">{{ e.entry_authored_on|date:"F j, Y f A" }}</h4>{% if EDITING %}
  <h4 class="author">published: <input property="mt:entry_status" type="checkbox" name="vehicle" value="Bike" {% if e.entry_status == 2 %}checked="yes"{% endif%}/></h4>{% endif %}
  <p>&nbsp;</p>
  
  <hr />
  
  <h4>Other articles by {{ a.author_nickname }}</h4>
  <dl>
  {% for e in a_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>

  <h4>Comments</h4>
  <ul>
  {% for c in a_comments %}
    <li>{{ c.comment_text|striptags|safe|truncatewords:10 }} <a href="{{ c.comment_entry.entry_uri }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>
  <hr />
  
  <h4>Other writers</h4>
  <ul>
  {% for a in main_authors %}
    <li>{{ a.author_nickname }}</li>
  {% endfor %}
  </ul>
    
</div>
<div class="post grid_5">
  <p class="byline">
  {% if e.previous %}<a href="{{ andor }}{{ e.previous.entry_slug }}">Previous</a>{% endif %}
  {% if e.next %}  / <a href="{{ andor }}{{ e.next.entry_slug }}">Next</a>{% endif %}
  </p>
  <div class="article grid_3 alpha omega suffix_2">
    <h4 property="mt:entry_title" contenteditable="true">{{ e.entry_title }}</h4>
    <article {% if e.entry_id %} property="mt:entry_id" content="{{ e.entry_id }}"{% endif %} class="entry" id="entry-{{ e.entry_id }}">
    {{ e.entry_text|safe }}
    </article>
    <h4 class="comments-header">{% if e_comments %}{{ e_comments.count }} Comments{% else %}No Comments{% endif %}</h4>


    
    <div id="comments" class="comments">
    
        <div class="comments-content">
          {% if e_comments %}
            {% include "comment.html" %}
          {% endif %}
            <a title="Reply" href="#reply">Reply</a>
        </div>
        {% if not EDITING %}
        <div class="comments-open" id="comments-open">
            <h4 class="comments-open-header">Leave a comment</h4>
            <div class="comments-open-content">
                <div id="comment-greeting"></div>
                
                    <form method="post" action="http://mt.schr.fr/comments.cgi" name="comments_form" id="comments-form" onsubmit="return mtCommentOnSubmit(this)">
                        <input type="hidden" name="static" value="1" />
                        <input type="hidden" name="entry_id" value="{{ e.entry_id }}" />
                        <input type="hidden" name="__lang" value="en" />
                        <input type="hidden" name="parent_id" id="comment-parent-id" />
                        <input type="hidden" name="armor" value="1" />
                        <input type="hidden" name="preview" value="" />
                        <input type="hidden" name="sid" value="" />
                        <div id="comments-open-data">
                            <div id="comment-form-name">
                              <div class="alpha grid_1"><label for="comment-author" class="span-4">Name</label></div>
                                <div class="omega grid_2"><input id="comment-author" name="author" size="30" value="" onfocus="mtCommentFormOnFocus()" /></div>
                            </div>
                            <div id="comment-form-email">
                                <div class="alpha grid_1"><label for="comment-email" class="span-4">Email Address</label></div>
                                <div class="omega grid_2"><input id="comment-email" name="email" size="30" value="" onfocus="mtCommentFormOnFocus()" /></div>
                            </div>
                            <div id="comment-form-url">
                                <div class="alpha grid_1"><label for="comment-url" class="span-4">URL</label></div>
                                <div class="omega grid_2"><input id="comment-url" name="url" size="30" value="" onfocus="mtCommentFormOnFocus()" /></div>
                            </div>
                            <div id="comment-form-remember-me">
                                <input type="checkbox" id="comment-bake-cookie" name="bakecookie" onclick="mtRememberMeOnClick(this)" value="1" accesskey="r" />
                                <label for="comment-bake-cookie">Remember personal info?</label>
                            </div>
                        </div>
                        <div id="comment-form-reply" style="display:none">
                            <input type="checkbox" id="comment-reply" name="comment_reply" value="" onclick="mtSetCommentParentID()" />
                            <label for="comment-reply" id="comment-reply-label"></label>
                        </div>
                        <div id="comments-open-text">
                            <label for="comment-text">Comments</label><br />
                            <textarea id="comment-text" name="text" rows="15" style="width:100%;" onfocus="mtCommentFormOnFocus()"></textarea>
                        </div>
                        <div id="comments-open-captcha"></div>
                        <div id="comments-open-footer">
                           <!-- <input type="submit" accesskey="v" name="preview_button" id="comment-preview" value="Preview" onclick="this.form.preview.value='1';" /> -->
                            <input type="submit" accesskey="s" name="post" id="comment-submit" value="Submit" />
                        </div>
                    </form>

                
            </div>
        </div>
    
        <script type="text/javascript">
            mtAttachEvent("load", mtEntryOnLoad);
            mtAttachEvent("unload", mtEntryOnUnload);
        </script>
        {% endif %}
    
    </div><!-- / comments -->
  </div> <!-- / article grid_3 -->
  <hr />
</div> <!-- / post grid_5-->

<div class="sidebar grid_1">
  <h4>Latest articles</h4>
  <dl>
  {% for e in recent_entries %}
  <dt><a href="{{ andor }}{{ e.entry_slug }}">{{ e.entry_title }}</a></dt>
  <dd>{{ e.entry_authored_on|date:"F j, Y f A" }}</dd>
  {% endfor %}
  </dl>


  <h4>Latest Comments</h4>
  <ul>
  {% for c in recent_comments %}
    <li><strong>{{ c.comment_author }}:</strong> {{ c.comment_text|striptags|truncatewords:10 }} <a href="{{ c.comment_entry.entry_uri }}" title="full comment on: {{ c.comment_entry.entry_title }}">read more</a></li>
  {% endfor %}
  </ul>

</div>
{% endblock %}

